{{#if user}}
	<div style="text-align:center">
		<h1>Welcome {{user}}</h1>
	       <a href="/newgame" class="btn btn-primary btn-sm" role="button">New Game</a><br><br>
	       <a href="/newgame" class="btn btn-primary btn-sm" role="button">Continue Game</a><br><br>
	       <a href="/newgame" class="btn btn-primary btn-sm" role="button">Free Play</a><br><br>
	       <a href="/newgame" class="btn btn-primary btn-sm" role="button">Improve Route</a><br><br>
	</div>

{{else}}
  <div class="jumbotron">
    <h1>Wiki Link User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
{{/if}}